
.MemoryGame_grid {
    display: grid;
    column-gap: 15px;
    row-gap: 15px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.MemoryGame_gridTemplateColumns4 {
    grid-template-columns: repeat(4, 85px)
}

.MemoryGame_gridTemplateColumns5 {
    grid-template-columns: repeat(5, 85px)
}

.MemoryGame_gridTemplateColumns6 {
    grid-template-columns: repeat(6, 85px)
}

.MemoryGame_cardCss {
    font-size: 2rem;
    text-align: center;
    border-radius: 5px;
}

.MemoryGame_pairFound {
    transform: rotate(360deg);
    transition: .5s;
}

.MemoryGame_padding20 {
    padding: 20px;
}

@media only screen and (max-width: 600px) {
    .MemoryGame_gridTemplateColumns4 {
        grid-template-columns: repeat(4, 85px)
    }

    .MemoryGame_gridTemplateColumns5 {
        grid-template-columns: repeat(4, 85px)
    }

    .MemoryGame_gridTemplateColumns6 {
        grid-template-columns: repeat(4, 85px)
    }
}